* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro-container {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  border-radius: 20px;
  margin-left: 55%;
  margin-top: 15%;
  align-items: center;
}

#welcome-text {
  width: 70%;
  text-align: center;
  color: black;
}

#welcome-button {
  background-color: gray;
  border-radius: 12px;
  width: 80%;
  height: 80px;
  margin-left: 10%;
  margin-top: 10px;
  text-align: center;
}

#welcome-button:hover {
  cursor: pointer;
  width: 75%;
  height: 75px;
  margin-left: 12.5%;
}

#covid-warning {
  background-color: navy;
  color: white;
  text-align: center;
}

.places-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: auto;
  background-color: gray;
  margin-left: 5%;
  margin-top: 0px;
  align-content: space-around;
  padding: 20px;
  overflow: hidden;
}

.place-box {
  display: flex;
  background-color: white;
  border-radius: 20px;
  align-content: space-around;
}

.questions-box {
  width: 70%;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  margin-left: 15%;
  font-size: 22px;
}

input {
  display: none;
}

label {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  background: #6AAB95;
  border-radius: 3px;
  color: #FFF;
  transition: ease .5s;
}

label:hover {
  background: #4E8774;
}

.content {
  background: #E2E5F6;
  padding: 10px 25px;
  border: 1px solid #A7A7A7;
  border-radius: 3px;
  text-align: center;
  font-size: 22px;
}

input + label + .content {
  display: none;
}

input:checked + label + .content {
  display: block;
}

#title {
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

#place-link-button {
  border-radius: 15px;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 15px;
  height: 30px;
}

#place-link-button:hover {
  cursor: pointer;
  width: 55%;
  height: 28px;
  margin-left: 23%;
  margin-bottom: 17px;
}

#links {
  text-align: center;
}

.reviews-box {
  display: flex;
  width: 90%;
  margin-left: 5%;
  overflow: hidden;
  flex-flow: column wrap;
  text-align: center;
  align-content: center;
}

.individual-review-box {
  border: 2px solid black;
  border-radius: 20px;
}

/*Mobile Styles*/
@media only screen and (max-width: 400px) {
  .intro-container {
    font-size: 16px;
  }

  .place-top img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    overflow: hidden;
  }

  .place-bottom p {
    margin-top: 15px;
    text-align: center;
    color: black;
    font-size: 20px;
  }

  #covid-warning {
    font-size: 16px;
  }

  .place-box {
    flex-flow: column wrap;
  }

  .individual-review-box {
    font-size: 20px;
  }
}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .intro-container {
    font-size: 22px;
  }

  #links {
    font-size: 22px;
  }

  .navbar-toggler {
    height: 50px;
    width: 100px;
  }

  .place-top img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }

  .place-bottom p {
    margin-top: 15px;
    text-align: center;
    color: black;
    font-size: 20px;
    width: 90%;
    margin-left: 5%;
  }

  #covid-warning {
    font-size: 22px;
  }

  .place-box {
    flex-flow: row wrap;
  }

  .individual-review-box {
    font-size: 23px;
  }
}

/*Desktop Styles*/
@media only screen and (min-width: 961px) {
  #links {
    font-size: 25px;
  }

  .intro-container {
    font-size: 27px;
  }

  .navbar-toggler {
    height: 50px;
    width: 100px;
  }

  .place-top img {
    height: 550px;
    overflow: hidden;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-top: -50px;
  }

  .place-bottom p {
    margin-top: 15px;
    text-align: center;
    color: black;
    font-size: 20px;
  }

  .place-box {
    width: 40%;
    flex-flow: row wrap;
    overflow: hidden;
    border: 2px solid black;
    height: 850px;
    margin: 5px;
  }

  #covid-warning {
    font-size: 30px;
  }

  .individual-review-box {
    font-size: 20px;
  }
}
